POSTGRES_DB=xlsx_mailings
POSTGRES_USER=app
POSTGRES_PASSWORD=app
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5433

CELERY_BROKER_URL=redis://127.0.0.1:6379/0
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379/0

